<!-- Footer -->
<div id="footer">

  <div class="f_top container">
    <div class="row">
      <div class="col-lg-3">
        <div class="ftop_elem">
          <a href="#" style="color:#FFF;float:left;text-decoration:none;">FREE SHIPPING in India</a>
          <i class="fas fa-truck-moving fa-2x" style="color:red;margin-left:3px;"></i>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="ftop_elem">
          <a href="#" style="color:#FFF;float:left;margin-left:40px;text-decoration:none;">Cash on Delivery</a>
          <i class="fas fa-rupee-sign fa-2x" style="color:red;margin-left:10px;"></i>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="ftop_elem">
          <a href="#" style="color:#FFF;float:left;margin:4px;text-decoration:none;">International Shipping</a>
          <i class="fas fa-plane fa-2x" style="color:red;"></i>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="ftop_elem">
          <a href="#" style="color:#FFF;float:left;margin-left:15px;text-decoration:none;">Free and Easy Returns</a>
          <i class="fas fa-sync-alt fa-2x" style="color:red;margin-left:5px;"></i>
        </div>
      </div>

    </div>
  </div>
  <hr>

  <div class="container">
    <div class="row f_mid" style="list-style-type:none;">
      <li class="col-sm-2">
        <p style="color:red;">HERE TO HELP</p>
        <ul style="list-style-type:none;">
          <a class="f_item" href="">FAQ'S</a><br />
          <a class="f_item" href="">Contact Us</a><br />
          <a class="f_item" href="">Returns And Refunds</a><br />
          <a class="f_item" href="">Track Order</a><br />
        </ul>
      </li>

      <li class="col-sm-3">
        <p style="color:red;">COMPANY</p>
        <ul style="list-style-type:none;">
          <a class="f_item" href="">About Us</a><br />
          <a class="f_item" href="">Careers</a><br />
          <a class="f_item" href="">Blog</a><br />
          <a class="f_item" href="">Media Mentions</a><br />
          <a class="f_item" href="">Terms and Conditions</a><br />
          <a class="f_item" href="">Privacy Statement</a><br />
        </ul>
      </li>

      <li class="col-sm-3">
        <p style="color:red;">CATEGORIES</p>
        <ul>
          <a class="f_item" href="">Instagram Shop</a><br />
          <a class="f_item" href="">Father and Daughter</a><br />
          <a class="f_item" href="">Father and Son</a><br />
          <a class="f_item" href="">Mother and Daughter</a><br />
          <a class="f_item" href="">Mother and Son</a><br />
          <a class="f_item" href="">Full Family</a><br />
          <a class="f_item" href="">Him and Her</a><br />
          <a class="f_item" href="">Big Sister and Little Sister</a><br />
          <a class="f_item" href="">Big Brother and Little Brother</a><br />
          <a class="f_item" href="">Baby and Me</a><br />
        </ul>
      </li>

      <li class="col-sm-4">
        <p style="color:red;">SIGN UP</p>
        <ul style="list-style-type:none;">
          <li>Sign up for our newsletter and be the first to know about coupons and special promotions.</li>
          <form class="" action="index.html" method="post">
            <input type="email" class="subscribe-box" name="" value="" placeholder="youremail@example.com">
            <button type="button" class="btn btn-outline-danger" name="subscribe">
              <span class="fa fa-check"></span>
            </button>
          </form>
        </ul>
      </li>

    </div>

  </div>
  <div class="" style="text-align:center;">
    <i class="social-icon fab fa-facebook-f"></i>
    <i class="social-icon fab fa-twitter"></i>
    <i class="social-icon fab fa-instagram"></i>
    <i class="social-icon fas fa-envelope"></i>
    <p>© Copyright 2019 BrandMore.in</p>
  </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</html>
